  .pagination {
      --bs-pagination-color: #484A67;
      --bs-pagination-hover-color: #484A67;
      --bs-pagination-active-bg: #03A2E9;
      --bs-pagination-active-border-color: #03A2E9;
      --bs-pagination-active-color: #EFEFE4;
      --bs-pagination-focus-box-shadow: 0 0 0 .25rem rgba(3, 162, 233, .25);
      --bs-pagination-border-color: #DBDBCE;
  }